{% extends 'base.html.twig' %}

{% block title %}

Inscription

{% endblock %}

{% block body %}
    <div style="text-align: center;">

    <h1>Inscrivez-vous !</h1>
    <br> <br>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.Nom ,
        {label : 'Nom :    ' })}}
        <br>
        {{ form_row(registrationForm.Prenom,
        {label : 'Prénom :    ' })  }}
        <br>
        {{ form_row(registrationForm.Pseudo,
        {label : 'Pseudo :    ' }) }}
        <br>
        {{ form_row(registrationForm.Email,
        {label : 'Email :    ' }) }}
        <br>
        {{ form_row(registrationForm.Adresse,
        {label : 'Adresse  :    ' }) }}
        <br>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe :      '
        }) }}
        <br>
        {{ form_row(registrationForm.estOrganisateur) }}
        
            <br>
        <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </div>

{% endblock %}
